/*fonts*/

@font-face{
    font-family:'Noto Serif';
    src:url("../../../fonts/NotoSerif-Regular.ttf");
}

@font-face{
    font-family:'Noto Bold';
    src:url('../../../fonts/NotoSerif-Bold.ttf');
}

@font-face{
    font-family:'Noto Italic';
    src:url('../../../fonts/NotoSerif-Italic.ttf')
}



body{
    background-color:black;
    color:white;
    font-family:'Noto Serif',sans-serif;
    max-width: 80rem;
    margin: auto;
}

/*header*/

header{
    display: flex;
    flex-direction: column;

}

h1{
    font-size: 60px;
    margin: 20px;
    font-family:'Noto Bold', sans-serif;
    margin: 20px 20px 20px 0;

}

/*navigation bar*/

nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}

nav a{
    background-color:white;
    color: black;
    text-decoration: none;
    margin:10px;
    border:5px solid black;
    padding:10px;
    margin:25px;
    border-radius:25px;
    font-size:1.2em
}

nav a:hover{
    background-color:lightgray;

}

nav a:first-child{
    margin-left:0;
}

/*about*/

.about{
    display:flex;
    
}

.about img{
    width: 39em;
    height: 23rem;
    margin: 20px 75px 20px 0;
}


.about div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 400px;
}

.about div h2{
    font-size:40px;
    margin: 0 0 25px 0;
    font-family:'Noto Bold', sans-serif;
}

.button{
    background-color: white;
    color: black;
    border: none;
    width: 75%;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius:25px;
}

.button:hover{
    background-color:lightgray;
}

.about div p{
    font-size:20px;
}

/*project gallery*/

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.gallery div img{
    width: 300px;
    margin-right: 20px;
}

.gallery div img:hover{
    opacity: 0.5;
}

.gallery div p{
    font-family:'Noto Italic',sans-serif;
}


/*footer*/

footer{
    background-color:gray;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 50px;
}

footer h2{
    font-size: 40px;
    margin: 0 0 20px;
    font-family:'Noto Bold',sans-serif;
    color:black;
}


footer .button{
    width:200px;
}